.container{
    background-color: #000;
    width: 900px;
}
.nav{
    background-color: #708090;
    padding: 1rem;
}

.nav-item{
    color: #fff;
    padding: .8rem;
    font-weight: bold;
    text-decoration: none;
}
.contato{
    font-size: bold;
}

main{
    color: #fff;
}

footer p{
    color: white;
    text-align: center;
}
